<html style="height:100%;">

<head style="height:100%;">
    <title>TATD</title>
    
    <!-- build:js build/script.min.js -->
    <script src="script.js"></script>
    <script src="s.js"></script>
    <!-- endbuild -->
    
    <!-- build:css build/style.min.css -->
    <link rel="stylesheet" href="style.css">
    <!-- endbuild -->
</head>

<body style="background-color:#4A4D4E;height:100%;margin:0px;">

    <div id="stage">
        <div id="head">
            <label id="title">LV1&nbsp;-&nbsp;TA</label>
        </div>
        <div id="my_panel">
            <div id="left_panel">


            </div>
            <div id="right_panel">
                <div id="mn">

                </div>
                <div class="ftr">
                    <span class="speed">
                    <button class="top-btn" id="speedfor1">&times;1</button><button class="top-btn" id="speedfor2">&times;2</button><button class="top-btn" id="speedfor4">&times;4</button>
                </span>
                    <div class="start">
                        <button class="top-btn" id="start">Start</button>
                    </div>
                    <div class="start" style="left:initial;right:37%;width:13%">

                        <button class="top-btn" id="btn_restart">Restart</button>
                    </div>
                    <div class="src">
                        TATD for <a href="http://2015.js13kgames.com/" target="_Blank">js13kgames</a> by <a href="https://github.com/blackmiaool" target="_Blank">blackmiaool</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button id="dbg_btn">dbg</button>
    <button id="btn1">btn1</button>
    <button id="btn2">btn2</button>
    <button id="btn3">btn3</button>
    <button id="btn4">btn4</button>

    <div class="emy hide trans" id="emy_to_copy" kind="0">
        <div class="blood">
            <div class="fill"></div>
        </div>
    </div>
    <div class="emy hide trans" id="emy_to_copy" kind="1" style="background-color:green;">
        <div class="blood">
            <div class="fill"></div>
        </div>
    </div>
    <div class="tower hide" id="tower_to_copy" kind="0">
        <div class="range">
        </div>


        <div class="shape">

            <div class="core"></div>
        </div>
        <div class="fill">
        </div>

    </div>

    <style>

    </style>


    <div class="emy-panel tower-panel hide" id="tower_panel_to_copy">
        <div class="top">


            <div class="abt">
                <div class="bar">
                    <label>Str</label><span></span>
                </div>
                <div class="bar">
                    <label>Rage</label><span></span>
                </div>
                <div class="bar">
                    <label>Speed</label>
                    <span></span>
                </div>
                <div class="bar">
                    <label>Cost</label>
                    <span></span>
                </div>

            </div>

        </div>
        <div class="bottom">
            <p>
                Basic warrior.
            </p>
        </div>
    </div>
    <div class="emy-panel hide" id="emy_panel_to_copy">
        <div class="top">

            <!--
            <div class="emy">

            </div>
-->

            <div class="abt">
                <div class="bar">
                    <label>HP</label><span></span>
                </div>
                <div class="bar">
                    <label>Move</label><span></span>
                </div>
                <div class="bar">
                    <label>Str</label>
                    <span></span>
                </div>

            </div>

        </div>
        <div class="bottom">
            <p>

            </p>
        </div>
    </div>
    <div class="bul hide" id="bul_to_copy" kind="0">

    </div>
    <div class="endp" id="endp_to_copy">
        <div class="fill">
        </div>
        <label id="progress">0/10</label>
    </div>
    <div class="startp" id="startp_to_copy">
        <div class="fill">

        </div>
        <label id="emys_left">10/10</label>
    </div>
    <div id="hide_div" style="display:none;">
        <div id="tower_points_to_copy" style="text-align:center;margin-top: 10px;color: white;">
            <label id="tower_points_label">Tower Points : <font id="tower_points_value"></font></label>
        </div>
    </div>
    <div id="body_mask" class="displaynone  trans"></div>
    <style>

    </style>
    <div id="level_finish" class="m-panel displaynone trans">
        <h1>You Win!</h1>
        <div id="scores">
            <div>
                <label>Warrior Cost :</label>
                <label>53</label>
            </div>
            <div>
                <label>Tower Points Cost :</label>
                <label>40</label>
            </div>
            <div>
                <label>Attack Time :</label>
                <label>53s</label>
            </div>
        </div>
        <br>
        <button class="top-btn" id="btn_next_level">Next Level</button>

    </div>
    <div id="level_setting" class="m-panel displaynone trans" style="">
        <h1 style="margin-bottom:10px;">Restart</h1>
        <div>
            <button class="top-btn" id="btn_restart_attack">Restart Attack</button>
            <button class="top-btn" id="btn_continue">Continue</button>
            <button class="top-btn" id="btn_restart_defence1">Restart Defence</button>
        </div>

    </div>

    <div id="level_failed" class="m-panel displaynone trans">
        <h1 style="margin-bottom:10px;">What a Pity</h1>
        <div>
            <button class="top-btn" id="btn_restart_whole_level">Restart Whole Level</button>
            <button class="top-btn" id="btn_restart_defence2">Restart Defence</button>
        </div>

    </div>
</body>

<!--
<div ng-repeat="a in result|filter:(search):::">
    <div ng-repeat="(key,value) in a">

    </div>

</div>
$scope.c=[{a:1,b:2}...]
if(c[0]){
    input_show=true;
    $scope.input={};
}

<input ng-repeat="(key,value) in c[0]" ng-model="input[key]">



input a b

-->

</html>