body {
    font-family: Arial, Verdana, Sans-serif;
    user-select: none;
}

.zoom {
    transform: scale(1.3);
}

#stage {
    width: 1000px;
    height: 600px;
    background-color: #222;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 10px solid #222;
    perspective: 2000px;
}

#stage>div {
    position: relative;
}

#left_panel {
    width: 246px;
    height: 90%;
    float: left;
    background-color: #333;
    box-sizing: border-box;
    position: relative;
}

#right_panel {
    margin-left: 246px;
    height: 90%;
    background-color: #333;
    box-sizing: content-box;
    position: relative;
    perspective: 2000px;
    border-left: 4px #bbb solid;
}

#my_panel {
    transition: transform 1s;
}

#right_panel .ftr {
    height: 40px;
    width: 100%;
    background: #111;
    position: absolute;
    bottom: 0px;
    text-align: center;
    transition: transform 1s;
    /*            display: inline-block;*/
}

.ftr .speed {
    display: inline-block;
    width: 30%;
    position: absolute;
    left: 0px;
    height: 100%;
    float: left;
}

.ftr .speed button {
    width: 33%;
    /*            height: 100%;*/
    margin: 0px;
    /*            box-sizing: border-box;*/
}

.ftr button {
    height: 39px;
    position: relative;
    bottom: -1px;
}

.start {
    display: inline-block;
    width: 20%;
    position: absolute;
    left: 30%;
    height: 100%;
}

.start button {
    width: 100%;
    /*            height: 38px;*/
    margin: 0px;
    box-sizing: border-box;
}

.top-btn {
    background: #595B5B;
    box-shadow: 0 0 0 1px #303233;
    border: none;
    border-top: 1px solid #666767;
    color: #FFF;
    text-shadow: 0 -1px 0 #000;
    padding: 3px 20px 4px 8px;
    -webkit-appearance: none;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 22px;
    text-align: center;
    position: relative;
    bottom: -1px;
    outline: none;
}

.top-btn:hover {
    background-color: #656565;
}

* {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /*            box-sizing: border-box;*/
}

.src {
    float: right;
    width: 37%;
    color: #ddd;
    line-height: 40px;
}

.src a {
    color: steelblue;
}

#head {
    height: 10%;
    background: #333;
    border-bottom: 4px #bbb solid;
    text-align: center;
    box-sizing: border-box;
    perspective: 500px;
}

#head>#title {
    color: #F0F1F1;
    font-size: 35px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%) rotateX(0deg);
    font-family: Arial, Verdana, Sans-serif;
    transition: transform 1s;
}

#head>#title.td {
    transform: translate(-50%, -50%) rotateX(360deg);
}

#mn {
    background-color: #333;
    /*
    height: 100%;
    padding-bottom: 40px;
*/
    box-sizing: border-box;
}

.grid {
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    /*            border:1px black solid;*/
    display: inline-block;
    -webkit-transition: 0.1s linear;
    -o-transition: 0.1s linear;
    transition: 0.1s linear;
    /*
            border-right: 1px rgba(0,0,0,0) solid;
            border-bottom: 1px rgba(0,0,0,0) solid;
*/
    /*            border: 3px rgba(0, 0, 0, 0) solid;*/
    text-align: center;
    position: relative;
}

.grid[lang=wall] {
    background-color: #444;
    /*            border: */
}

body.inactive .catching {
    display: none;
}

body.catching #mn.active .grid[lang=wall] {
    border: 1px #555 solid;
}

body.catching #mn.active .grid[lang=wall]:hover {
    border-color: steelblue;
    cursor: pointer;
    border: 3px steelblue solid;
}

.grid[lang=road] {
    background-color: #222;
}

.grid[lang=start] {
    background-color: #222;
    /*            background-color: lightsteelblue;*/
}

.grid[lang=end] {
    background-color: #222;
}

.emy-panel {
    /*            height: 100px;*/
    margin: 0px;
    margin-right: 50px;
    background-color: rgba(255, 255, 255, 0.15);
    position: relative;
    padding-top: 10px;
    border-bottom: 1px #222 solid;
    /*            cursor: pointer;*/
}

.emy-panel.tower-panel {
    margin-right: 0px;
}

.emy-panel * {
    cursor: pointer;
}

.emy-panel .emy,
.emy-panel .tower {
    top: 50%;
    left: 15%;
}

.emy-panel .emy {
    animation: none !important;
}

.emy-panel .abt {
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(0, -50%);
}

.emy-panel .abt .bar {
    margin: 25px;
    line-height: 0px;
    position: relative;
    margin-left: 0px;
    color: white;
    font-size: 14px;
}

.emy-panel.tower-panel .abt .bar {
    margin: 20px;
    line-height: 0px;
    position: relative;
    margin-left: 0px;
    color: white;
}

.emy-panel .abt .bar span {
    color: white;
    background-color: steelblue;
    width: 30px;
    height: 10px;
    display: inline-block;
    line-height: 100%;
    vertical-align: middle;
    position: absolute;
    left: 55px;
    top: 50%;
    transform: translate(0, -50%);
}

.emy-panel p {
    text-indent: 2em;
    /*            position: absolute;*/
    /*            top: 0px;*/
    margin-top: 10px;
    color: white;
}

.emy-panel .top {
    height: 70px;
    position: relative;
}

.emy-panel.tower-panel .top {
    height: 70px;
}

.emy-panel.tower-panel:nth-child(2) {
    margin-top: 8px;
}

.emy-panel .bottom {
    /*            height: 70px;*/
    overflow: auto;
    position: relative;
}

.hide {
    /*            display: none;*/
    visibility: hidden;
}

.displaynone {
    display: none !important;
}

.trans {
    opacity: 0;
}

.bul {
    z-index: 1;
}

.bul[kind="0"] {
    background-color: #66ccff;
    position: absolute;
    transform: translate(-50%, -50%);
    border: 4px solid rgba(0, 0, 0, 0);
    border-radius: 50%;
    height: 0px;
    width: 0px;
    left: 0px;
    top: 0px;
    transition: opacity 0.3s;
}

.bul[kind='1'] {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid steelblue;
    position: absolute;
}

.bul[kind='1']:after {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 10px solid steelblue;
    position: absolute;
    content: "";
    top: 3px;
    left: -5px;
}

.bul[kind='2'] {
    width: 10px;
    height: 2px;
    background-color: steelblue;
    position: absolute;
}

.blood {
    width: 25px;
    height: 5px;
    border: 1px green solid;
    transform: translate(-50%, -50%);
    position: absolute;
    top: -10px;
    left: 50%;
    overflow: hidden;
    box-shadow: none !important;
}

.blood>.fill {
    position: absolute;
    right: 0%;
    width: 100%;
    height: 100%;
    background-color: red;
    box-sizing: content-box;
    top: 1px;
    box-shadow: none !important;
}

.endp {
    -webkit-perspective: 250;
    perspective: 200;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
}

.endp>.fill {
    position: relative;
    top: -15px;
    height: 0px;
    width: 0px;
    border-width: 40px 11px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: steelblue;
    border-bottom-width: 0px;
    animation: rotate 2s linear infinite;
    margin: 0px;
    display: inline-block;
    opacity: 0.2;
    transition: transform 3s ease-in;
}

.endp>.fill.rotate {
    transform: rotateY(1440deg);
}

.div-fill {}

.startp {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    position: relative;
    height: 100%;
}

.startp>.fill {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    border: 25px solid steelblue;
    opacity: 0.5;
    transition: all 0.5s;
}

.startp.out>.fill {
    border-width: 13px;
    opacity: 0.8;
}

@keyframes rotate {
    0% {
        top: -10px;
        /*                -webkit-transform: rotateX(0deg);*/
        /*                transform: rotateY(0deg);*/
    }
    50% {
        top: -20px;
        /*                -webkit-transform: rotateX(180deg);*/
        /*                transform: rotateY(180deg);*/
    }
    100% {
        top: -10px;
        /*                -webkit-transform: rotateX(360deg);*/
        /*                transform: rotateY(360deg);*/
    }
}

#progress {
    color: white;
    position: relative;
    bottom: 13px;
}

#emys_left {
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 0%);
    font-size: 13px;
    color: white;
    font-weight: bold;
}

#level_finish {
    height: 280px;
    width: 500px;
}

#level_finish>h1 {
    margin-bottom: 0px;
}

.m-panel {
    border: 10px solid #222;
    background-color: #4A4D4E;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
    color: white;
    border-radius: 20px;
}

.m-panel.center {
    transform: translate(-50%, -50%);
}

#next_level {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate(-50%, 0%);
    width: 150px;
    border-radius: 10px;
    padding: 8px;
    padding-bottom: 12px;
}

.top-btn:hover {
    background-color: #626465;
}

.top-btn:active,
.top-btn.inactive {
    background-color: #3f4041;
}

#scores {
    margin-top: 5px;
    width: 300px;
    text-align: center;
    display: inline-block;
}

#scores>div {
    margin: 15px;
    font-size: 20px;
    overflow: auto;
    display: block;
}

#scores>div>label:first-child {
    float: left;
}

#scores>div>label:last-child {
    float: right;
}

#level_setting {
    height: 150px;
    width: 600px;
}

#level_finish .top-btn,
#level_setting .top-btn,
#level_failed .top-btn,
#game_cover .top-btn {
    margin: 15px;
    border-radius: 10px;
    padding: 8px 15px;
    /*
            padding-top: 8px;
            padding-bottom: 8px;
*/
}

.m-panel li.chinese {
    font-size: 12px;
    list-style: none;
      margin-top: 0px;
  margin-bottom: 10px;
}

#game_cover {
    width: 500px;
}

#game_cover ul {
    display: inline-block;
    text-align: left;
    font-size: 20px;
    margin: 5px;
}

#level_failed {
    width: 500px;
}

.trans {
    opacity: 0;
}

#tower_points {
    text-align: center;
    margin-top: 10px;
    color: white;
}

div#tower_points label {
    transition: 0.1s all;
}

div#tower_points label.zoom {
    transform: scale(1.3);
}

#body_mask {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.43);
    top: 0px;
    z-index: 999;
}

.emy {
    left: 0px;
    top: 0px;
    transform: translate(-50%, -50%);
    text-align: center;
    transition: opacity 0.5s;
    opacity: 1;
    z-index: 1;
    position: absolute;
}

.emy.trans {
    opacity: 0;
}

.emy[kind='0'] {
    height: 10px;
    width: 10px;
    /*    background-color: antiquewhite;*/
}

.emy[kind='0'] .body {
    height: 10px;
    width: 10px;
    background-color: antiquewhite;
}

.emy[kind='1'] {
    height: 16px;
    width: 16px;
    /*    border-radius: 5px;*/
    /*    background-color: antiquewhite;*/
}

.emy[kind='1'] .body {
    height: 16px;
    width: 16px;
    border-radius: 5px;
    background-color: antiquewhite;
}

.emy[kind='1'] .eye {
    height: 4px;
    width: 4px;
    right: 6px;
    top: 5px;
    background-color: black;
    position: absolute;
    animation: blink 4s infinite;
    box-shadow: none !important;
}

.emy[kind='2'] {
    height: 30px;
    width: 30px;
    animation: float 3s infinite;
}

.emy[kind='2'] .head {
    height: 18px;
    width: 18px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    background-color: antiquewhite;
    position: absolute;
    top: 10px;
    left: 50%;
    z-index: 1;
}

.emy[kind='2'] .leg {
    height: 20px;
    width: 5px;
    border-radius: 5px;
    background-color: antiquewhite;
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.emy[kind='3'] {
    height: 30px;
    width: 30px;
}

.emy[kind='3'] .outline {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    border: 5px solid antiquewhite;
    box-sizing: border-box;
    position: absolute;
    transform: translate(-50%, -5%);
}

.emy[kind='3'] .core {
    height: 10px;
    width: 10px;
    left: 50%;
    top: 50%;
    border: 6px solid antiquewhite;
    border-radius: 50%;
    /*    background-color:  antiquewhite;*/
    box-sizing: border-box;
    position: absolute;
    transform: translate(-50%, -50%);
    box-shadow: none !important;
}

@keyframes blink {
    0% {
        transform: scaleY(1);
    }
    40% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    60% {
        transform: scaleY(1);
    }
    70% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes blink {
    0% {
        transform: scaleY(1);
    }
    40% {
        transform: scaleY(1);
    }
    50% {
        transform: scaleY(0);
    }
    60% {
        transform: scaleY(1);
    }
    70% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1);
    }
    100% {
        transform: scaleY(1);
    }
}

@keyframes float {
    0% {
        top: 0px;
    }
    50% {
        top: -10px;
    }
    100% {
        top: 0px;
    }
}

@keyframes r_rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    50% {
        transform: translate(-50%, -50%) rotate(180deg);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.tower {
    position: absolute;
    height: 50px;
    width: 50px;
    overflow: visible;
    transform: translate(-50%, -50%);
    z-index: 10;
    box-sizing: border-box;
    /*            transition: 0.3s linear;*/
}

.tower>.range {
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    position: absolute;
    border: 2px steelblue solid;
    border-radius: 50%;
    box-sizing: border-box;
    transition: 0.3s ease-out;
    width: 0px;
    height: 0px;
    background-color: rgba(51, 122, 182, 0.1);
    opacity: 0;
}

.tower>.range.active {
    opacity: 1;
}

.tower[kind='0']>.range.active {
    width: 150px;
    height: 150px;
}

.tower[kind='1']>.range.active {
    width: 150px;
    height: 150px;
}

.tower[kind='2']>.range.active {
    width: 250px;
    height: 250px;
}

.tower[kind='3']>.range.active {
    width: 200px;
    height: 200px;
}

.tower[kind="0"] .shape {
    height: 50px;
    width: 50px;
    border: 7px rgba(51, 122, 182, 0.6) solid;
    border-bottom-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
}

.tower[kind="0"] .shape .core {
    background-color: #66ccff;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    border: 6px solid rgba(102, 204, 255, 0);
    border-radius: 50%;
}

.tower[kind="0"]>.fill {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.tower[kind="1"] .outline1 {
    height: 30px;
    width: 30px;
    border: 5px rgba(51, 122, 182, 0.8) solid;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(45deg) skew(10deg, 10deg);
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
}

.tower[kind="1"] .core {
    background-color: #66ccff;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    border: 4px solid rgba(102, 204, 255, 0);
    border-radius: 50%;
}

.tower[kind="2"] .head {
    height: 0px;
    width: 0px;
    border: 5px rgba(102, 204, 255, 1) solid;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
}

.tower[kind="2"] .body {
    height: 0px;
    width: 0px;
    /*    background-color: #66ccff;*/
    top: 40%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    border: 5px solid steelblue;
    border-bottom-width: 35px;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
}

.tower[kind="2"] .base {
    /*    background-color: #66ccff;*/
    top: 80%;
    position: absolute;
    left: 50%;
    height: 10px;
    width: 20px;
    transform: translate(-50%, -50%);
    display: inline-block;
    border: 3px solid steelblue;
    opacity: 0.6;
    border-radius: 50%;
}

.tower[kind="3"] .outline {
    height: 40px;
    width: 40px;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    border: 3px solid steelblue;
    opacity: 0.8;
}

.tower[kind="3"] .core {
    height: 0px;
    width: 0px;
    border-radius: 50%;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    border: 5px solid rgba(102, 204, 255, 1);
}

.tower[kind="3"] .shield {
    height: 23px;
    width: 23px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: 4px solid rgba(0, 0, 0, 0);
    border-right-color: steelblue;
    animation: r_rotate 2s infinite linear;
    opacity: 1;
}

.tower>.fill {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

label.prop-value {
    line-height: 13px;
    font-size: 13px;
    left: 100%;
    position: absolute;
    margin-left: 2px;
}

.emy-panel span.cd {
    /*    width: 100%;*/
    height: 3px;
    position: absolute;
    background-color: steelblue;
    bottom: 0px;
}

.emy_queue {
    width: 100px;
    background-color: rgba(51, 122, 182, 0.1);
    top: 0px;
    bottom: 0px;
    right: 0px;
    position: absolute;
    zoom: 0.5;
    overflow: auto;
    overflow-x: hidden;
}

.emy_queue .emy {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 60%;
    animation: none !important;
}

.emy_queue_grid {
    height: 50px;
    width: 100px;
    position: relative;
    background-color: rgba(250, 235, 215, 0.2);
    margin-bottom: 2px;
}

.emy_queue_grid .wrap {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    /*    transform: translate(-50%,-50%);*/
}

.cold {
    /*    box-shadow: 0px 0px 2px 3px steelblue;*/
}

.cold * {
    box-shadow: 0px 0px 0px 3px steelblue;
}

.tower[kind='1'] .loop {
    left: 50%;
    top: 50%;
    position: absolute;
    border: 3px solid steelblue;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    animation: scale 1s;
}

@keyframes scale {
    0% {
        height: 10px;
        width: 10px;
        opacity: 1;
    }
    100% {
        height: 150px;
        width: 150px;
        opacity: 0;
    }
}